<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- BOOTSTRAP -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'posts/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'posts/style.css' %}">
    <title>Project 4</title>
</head>
<body>
    <header class="container">
        <h1 class="text-center">Project 4 Blog</h1>
    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <a href="/admin" class="text-center" style="display:block">Admin Login</a>
</body>
</html>